body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 103vh;
	font-family: 'Jost', sans-serif;
	background-image: url("home-bg.jpg");
	background-repeat: repeat;
}
#login {
    color: #800303
}

.authContainer {
    /* z-index: 10; */
    height: 40%;
    width: 400px;
    background-color: #FFFFFF;
    border-radius: 10px;
    transform: translate(0, 10%);
    display: grid;
    grid-template-rows: auto auto auto;
    place-items: center;
}

.signup {
    height: 50%;
}

input {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #a7a7a7;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 500;
    color: #575757;
}

.loginContainer {
    display: grid;
    grid-template-rows: auto auto auto;
    width: 80%;
    place-items: center;
}

.authHead {
    font-size: 30px;
    font-weight: 300;
    color: #575757;
}

button {
    width: 80%;
    height: 40px;
    transition: all 0.2s ease;
    /* border-radius: 5px; */
}

button:hover {
    background-color: #800303;
    color: #FFFFFF;
}

.authLink {
    width: 100%;
    text-align: right;
    color: #800303;
    text-decoration: none;
}
